Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Node: build all architectures:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu2004
  prologue:
    commands:
    - cd node
  jobs:
  - name: Build Windows archive
    commands:
    - ../.semaphore/run-and-monitor build-windows-archive.log make build-windows-archive

calicoq:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd calicoq
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

anomaly-detection-api:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd anomaly-detection-api
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

Fix CI
  metadata.mk
Due: calicoq, anomaly-detection-api

fall back to non-CO-RE if CO-RE object does not load
  felix/bpf/hook/map.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Linseed Makefile: support running without an expected tenant ID
  linseed/Makefile
  linseed/pkg/config/config.go
Due: calicoq, anomaly-detection-api

Review markup
  linseed/pkg/config/config.go
Due: calicoq, anomaly-detection-api

Revert tenants being added as part of the operator manifest
  charts/tigera-operator/crds/operator.tigera.io_tenants.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/operator.tigera.io_tenants.yaml
  manifests/operator-crds.yaml
  manifests/tigera-operator.yaml
Due: calicoq, anomaly-detection-api

Add CI check for Operator Tenant inclusion (#8265)
  Makefile
Due: calicoq, anomaly-detection-api

Fix external nw tests
  node/tests/k8st/external-network-tests/test_external_network.py
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix bpf fv flakes
  felix/fv/bpf_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix ep_to_host FVs
  felix/fv/ep_to_host_action_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix BPF Fv
  felix/fv/ep_to_host_action_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix fmt
  felix/dataplane/linux/int_dataplane.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix kube-controllers
  kube-controllers/Makefile
Due: calicoq, anomaly-detection-api

[EV-5185] Evaluate rule traces in Dikastes (#8162)
  app-policy/checker/adapter_checkrequest.go
  app-policy/checker/adapter_tuple.go
  app-policy/checker/check.go
  app-policy/checker/check_test.go
  app-policy/checker/match.go
  app-policy/checker/match_test.go
  app-policy/checker/provider.go
  app-policy/checker/provider_data_for_test.go
  app-policy/checker/provider_test.go
  app-policy/checker/requestcache.go
  app-policy/checker/requestcache_test.go
  app-policy/policystore/ipset.go
  app-policy/policystore/ipset_test.go
  app-policy/policystore/process.go
  app-policy/syncher/syncserver.go
  app-policy/test/fv/dikastes_test.go
Due: calicoq, anomaly-detection-api

Fix make clean (#9436)
  felix/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix kube-controllers CI
  kube-controllers/Makefile
Due: calicoq, anomaly-detection-api

add helm dependency to charts targets
  Makefile
Due: calicoq, anomaly-detection-api

Add dummy secrets
  cni-plugin/tests/calico_cni_ipam_test.go
Due: calicoq, anomaly-detection-api

Merge pull request #9471 from coutinhop/pedro-plainclang-1
  felix/bpf-apache/Makefile
  felix/bpf-gpl/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

Merge pull request #9480 from tomastigera/tomas-fix-verifier-icmp6
  felix/bpf-gpl/icmp6.h
Due: Node: build all architectures, calicoq, anomaly-detection-api

Patch netty CVE (#8278)
  third_party/elasticsearch/patches/elastic-7.17.x-Update-dependencies-to-reduce-CVEs.patch
Due: calicoq, anomaly-detection-api

change policy match listerner to a slice (#9486)
  felix/calc/active_rules_calculator.go
  felix/calc/calc_graph.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add sync to hostendpoints FV
  felix/fv/dns_scapy_test.go
  felix/fv/hostendpoints_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix DNS fv
  felix/fv/dns_scapy_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix unused vars
  cni-plugin/tests/calico_cni_ipam_test.go
Due: calicoq, anomaly-detection-api

Increase dns test timeout in bpf
  felix/fv/dns_scapy_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add oidc config to queryserver (#8284)
  ts-queryserver/queryserver/auth/auth.go
  ts-queryserver/queryserver/config/config.go
Due: calicoq, anomaly-detection-api

Fix rbac checks for tier access via authorizationreview (#8266)
  ts-queryserver/pkg/querycache/client/querycache.go
  ts-queryserver/queryserver/auth/resource_authorizer.go
  ts-queryserver/queryserver/auth/resource_authorizer_test.go
  ts-queryserver/tests/fv/query_e2e_test.go
Due: calicoq, anomaly-detection-api

Add WAF Parser middleware
  ui-apis/pkg/middleware/waf/parser.go
  ui-apis/pkg/middleware/waf/parser_suite_test.go
  ui-apis/pkg/middleware/waf/parser_test.go
  ui-apis/pkg/middleware/waf/testdata/simple_testdata.conf
  ui-apis/pkg/middleware/waf/testdata/simple_testdata_parsed.json
Due: calicoq, anomaly-detection-api

Add l7-admission-controller to release and registry files (#8294)
  private-registry.md.tpl
  release/pkg/manager/calico/manager.go
Due: calicoq, anomaly-detection-api

create fed resources in calico-system namespace instead of kube-system
  manifests/federation-rem-rbac-kdd.yaml
  manifests/federation-remote-sa.yaml
Due: calicoq, anomaly-detection-api

Bump k8s libs to v1.30.7
  api/go.mod
  api/go.sum
  go.mod
  go.sum
  metadata.mk
Due: calicoq, anomaly-detection-api

Regenerate mock files
  lma/pkg/auth/mock_JWTAuth.go
  lma/pkg/auth/mock_RBACAuthorizer.go
  lma/pkg/elastic/mock_Client.go
  lma/pkg/elastic/mock_ClusterContextClientFactory.go
  lma/pkg/elastic/mock_FlowFilter.go
  lma/pkg/k8s/mock_ClientSet.go
  lma/pkg/k8s/mock_ClientSetFactory.go
  lma/pkg/rbac/mock_FlowHelper.go
  ts-queryserver/pkg/querycache/client/mock_QueryInterface.go
  ui-apis/pkg/kibana/mock_Client.go
Due: calicoq, anomaly-detection-api

Remove CE unsupported bpf directories from felix/.gitignore
  felix/.gitignore
Due: Node: build all architectures

Update k8s replace section for go.mod files
  api/go.mod
  go.mod
Due: calicoq, anomaly-detection-api

Fix generated tigera operator manifests
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/tigera-operator.yaml
Due: calicoq, anomaly-detection-api

Update compliance benchmarker k8s version check
  compliance/Makefile
Due: calicoq, anomaly-detection-api

Test GCP n4 machine type and latest ubuntu image
  .semaphore/vms/create-test-vm
  felix/.semaphore/create-test-vm
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix node package build (#8302)
  felix/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

Rework RPM package version conversion
  fluent-bit/Makefile
  fluent-bit/fv/create-vm-and-install.sh
  fluent-bit/rhel/calico-fluent-bit.spec.in
  hack/generate-rpm-version.sh
  lib.Makefile
  node/Makefile
  node/rhel/calico-node.spec.in
  process/testing/winfv-felix/capz/export-env.sh
  selinux/Makefile
  selinux/fv/create-vm-and-install.sh
  selinux/rhel/calico-selinux.spec.in
Due: Node: build all architectures, calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE
