Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Node: build all architectures:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu2004
  prologue:
    commands:
    - cd node
  jobs:
  - name: Build Windows archive
    commands:
    - ../.semaphore/run-and-monitor build-windows-archive.log make build-windows-archive

calicoq:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd calicoq
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

anomaly-detection-api:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd anomaly-detection-api
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

Load the dst ip alone in ipset match program.
  felix/bpf-gpl/ipt_match_ipset.c
Due: Node: build all architectures, calicoq, anomaly-detection-api

Post merge fix-up
  libcalico-go/lib/backend/k8s/resources/fake_clientset_test.go
  libcalico-go/lib/backend/k8s/resources/k8sendpoints.go
  libcalico-go/lib/backend/k8s/resources/profile.go
  libcalico-go/lib/backend/k8s/resources/profile_test.go
  libcalico-go/lib/backend/k8s/resources/static.go
  libcalico-go/lib/backend/k8s/resources/workloadendpoint_test.go
  licensing/monitor/monitor.go
  licensing/monitor/monitor_test.go
Due: calicoq, anomaly-detection-api

Quick fix for formatting of protobuf files.
  hack/format-all-files.sh
  hack/format-changed-files.sh
Due: calicoq, anomaly-detection-api

Dump felix logs after a k8sfv failure. (#9588)
  felix/k8sfv/run-test
Due: Node: build all architectures, calicoq, anomaly-detection-api

Build Gateway API images
  .semaphore/semaphore.yml.d/blocks/30-envoy-gateway.yml
  third_party/envoy-gateway/.gitignore
  third_party/envoy-gateway/Makefile
  third_party/gateway-api/README.md
Due: calicoq, anomaly-detection-api

make generate
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
Due: calicoq, anomaly-detection-api

Correction to Semaphore job name
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/30-envoy-gateway.yml
Due: calicoq, anomaly-detection-api

Update linseed token controller unit test to match production
  linseed/pkg/controller/token/token_controller_test.go
Due: calicoq, anomaly-detection-api

Correction to BRANCH_NAME
  third_party/envoy-gateway/Makefile
Due: calicoq, anomaly-detection-api

Register for multiarch docker builds
  third_party/envoy-gateway/Makefile
Due: calicoq, anomaly-detection-api

Use separate build machines for amd64 and arm64 images
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/30-envoy-gateway.yml
Due: calicoq, anomaly-detection-api

Install go
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/30-envoy-gateway.yml
Due: calicoq, anomaly-detection-api

Install go in the right place
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/30-envoy-gateway.yml
Due: calicoq, anomaly-detection-api

Minor tweak to README
  third_party/gateway-api/README.md
Due: none

Translate staged: -> staged/ in nftables chain names
  felix/rules/policy.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix libcalico-go rm command that failed if file didn't exist. (#8472)
  libcalico-go/Makefile
Due: calicoq, anomaly-detection-api

Make operator init container use k8s-svc-configmap if present. (#9699)
  charts/tigera-operator/templates/tigera-operator/02-tigera-operator.yaml
  manifests/ocp/02-tigera-operator.yaml
Due: calicoq, anomaly-detection-api

Support for inline config and create bpf ipsets when inline enabled. (#8419)
  api/pkg/apis/projectcalico/v3/felixconfig.go
  api/pkg/openapi/generated.openapi.go
  charts/multi-tenant-crds/crds/calico/crd.projectcalico.org_felixconfigurations.yaml
  felix/bpf/bpfmap/bpf_maps.go
  felix/bpf/ipsets/ipsets.go
  felix/config/config_params.go
  felix/dataplane/linux/int_dataplane.go
  felix/docs/config-params.json
  felix/docs/config-params.md
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/operator-crds.yaml
Due: Node: build all architectures, calicoq, anomaly-detection-api

Update google.golang.org/protobuf to v1.36.2 (#8476)
  third_party/alertmanager/Makefile
  third_party/alertmanager/patches/0001-Update-google.golang.org-protobuf-to-v1.36.2.patch
Due: calicoq, anomaly-detection-api

Add an extra root CA to the licensing module (#8435)
  licensing/carrotctl/cmd/generate.go
  licensing/client/client.go
  licensing/client/client_test.go
  licensing/client/root-certificates/root20180405.pem
  licensing/client/root-certificates/root20241231.pem
  licensing/client/testutils/test-data/test-customer-license.pem
  licensing/client/testutils/test-data/test-customer-signed-by-intermediate-license.pem
  licensing/client/testutils/test-data/test-customer-signed-by-intermediate-token.txt
  licensing/client/testutils/test-data/test-customer-token.txt
  licensing/scripts/create_root_certificates.go
Due: calicoq, anomaly-detection-api

tls implementation for alertmanager.
  webhooks-processor/pkg/providers/alertmanager/provider.go
Due: calicoq, anomaly-detection-api

PR suggestion.
  webhooks-processor/pkg/providers/alertmanager/provider.go
Due: calicoq, anomaly-detection-api

PR changes - function naming.
  webhooks-processor/pkg/providers/alertmanager/provider.go
Due: calicoq, anomaly-detection-api

make fix-all.
  webhooks-processor/pkg/providers/alertmanager/provider.go
Due: calicoq, anomaly-detection-api

Remove CRDs from manifests/ocp/
  manifests/ocp/01-crd-eck-agent.yaml
  manifests/ocp/01-crd-eck-apmserver.yaml
  manifests/ocp/01-crd-eck-autoscaling.yaml
  manifests/ocp/01-crd-eck-beat.yaml
  manifests/ocp/01-crd-eck-elasticmapsserver.yaml
  manifests/ocp/01-crd-eck-elasticsearch.yaml
  manifests/ocp/01-crd-eck-enterprisesearch.yaml
  manifests/ocp/01-crd-eck-kibana.yaml
  manifests/ocp/01-crd-eck-stackconfigpolicy.yaml
  manifests/ocp/operator.tigera.io_gatewayapis.yaml
Due: calicoq, anomaly-detection-api

Fix issues in WAF rule parser (#8473)
  ui-apis/pkg/middleware/waf/parser/parser.go
  ui-apis/pkg/middleware/waf/parser/parser_suite_test.go
  ui-apis/pkg/middleware/waf/parser/parser_test.go
  ui-apis/pkg/middleware/waf/parser/testdata/simple_testdata.conf
  ui-apis/pkg/middleware/waf/parser/testdata/simple_testdata_parsed.json
  ui-apis/pkg/middleware/waf/testdata/simple_testdata_parsed.json
Due: calicoq, anomaly-detection-api

Use standard lib context
  apiserver/pkg/storage/calico/alertexception_storage.go
  apiserver/pkg/storage/calico/bfdconfigurations_storage.go
  apiserver/pkg/storage/calico/deepPacketInspectionStatus_storage.go
  apiserver/pkg/storage/calico/deepPacketInspection_storage.go
  apiserver/pkg/storage/calico/egressgatewaypolicy_storage.go
  apiserver/pkg/storage/calico/externalnetwork_storage.go
  apiserver/pkg/storage/calico/globalAlertTemplate_storage.go
  apiserver/pkg/storage/calico/globalAlert_storage.go
  apiserver/pkg/storage/calico/globalReportType_storage.go
  apiserver/pkg/storage/calico/globalReport_storage.go
  apiserver/pkg/storage/calico/globalThreatFeedStatus_storage.go
  apiserver/pkg/storage/calico/globalThreatFeed_storage.go
  apiserver/pkg/storage/calico/licenseKey_storage.go
  apiserver/pkg/storage/calico/managedCluster_storage.go
  apiserver/pkg/storage/calico/packetCapture_storage.go
  apiserver/pkg/storage/calico/policyrecommendationscope_storage.go
  apiserver/pkg/storage/calico/policyrecommendationscopestatus_storage.go
  apiserver/pkg/storage/calico/remoteClusterConfig_storage.go
  apiserver/pkg/storage/calico/securityeventwebhook_storage.go
  apiserver/pkg/storage/calico/stagedGlobalNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/stagedKubernetesNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/stagedNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/tier_storage.go
  apiserver/pkg/storage/calico/tier_storage_test.go
  apiserver/pkg/storage/calico/uisettings_storage.go
  apiserver/pkg/storage/calico/uisettingsgroup_storage.go
  app-policy/tools.go
  felix/proto/felixbackend.pb.go
  intrusion-detection-controller/pkg/globalalert/query/executor.go
  lma/pkg/cache/metrics.go
  policy-recommendation/pkg/flows/query.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

make fix-changed on context additions
  apiserver/pkg/storage/calico/alertexception_storage.go
  apiserver/pkg/storage/calico/bfdconfigurations_storage.go
  apiserver/pkg/storage/calico/deepPacketInspectionStatus_storage.go
  apiserver/pkg/storage/calico/deepPacketInspection_storage.go
  apiserver/pkg/storage/calico/egressgatewaypolicy_storage.go
  apiserver/pkg/storage/calico/externalnetwork_storage.go
  apiserver/pkg/storage/calico/globalAlertTemplate_storage.go
  apiserver/pkg/storage/calico/globalAlert_storage.go
  apiserver/pkg/storage/calico/globalReportType_storage.go
  apiserver/pkg/storage/calico/globalReport_storage.go
  apiserver/pkg/storage/calico/globalThreatFeedStatus_storage.go
  apiserver/pkg/storage/calico/globalThreatFeed_storage.go
  apiserver/pkg/storage/calico/licenseKey_storage.go
  apiserver/pkg/storage/calico/managedCluster_storage.go
  apiserver/pkg/storage/calico/packetCapture_storage.go
  apiserver/pkg/storage/calico/policyrecommendationscope_storage.go
  apiserver/pkg/storage/calico/policyrecommendationscopestatus_storage.go
  apiserver/pkg/storage/calico/remoteClusterConfig_storage.go
  apiserver/pkg/storage/calico/securityeventwebhook_storage.go
  apiserver/pkg/storage/calico/stagedGlobalNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/stagedKubernetesNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/stagedNetworkPolicy_storage.go
  apiserver/pkg/storage/calico/tier_storage.go
  apiserver/pkg/storage/calico/tier_storage_test.go
  apiserver/pkg/storage/calico/uisettings_storage.go
  apiserver/pkg/storage/calico/uisettingsgroup_storage.go
  felix/proto/felixbackend.pb.go
  intrusion-detection-controller/pkg/globalalert/query/executor.go
  lma/pkg/cache/metrics.go
  policy-recommendation/pkg/flows/query.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Remove app-policy import of context tools
  app-policy/tools.go
Due: calicoq, anomaly-detection-api

Generate protobuf
  felix/proto/felixbackend.pb.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Update vishvananda/netlink to v1.30.0 (#9716)
  felix/routerule/route_rule_test.go
  felix/routerule/rule_lib.go
  felix/routerule/rule_lib_test.go
  felix/wireguard/wireguard_test.go
  go.mod
  go.sum
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix more netlink uint32 and int mismatch
  felix/dataplane/linux/egress_ip_mgr.go
  felix/dataplane/linux/egress_ip_mgr_test.go
  felix/dataplane/linux/external_network_mgr.go
  felix/routerule/route_rule_test.go
  felix/routerule/rule_lib.go
  felix/routerule/rule_lib_test.go
  felix/wireguard/wireguard_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add README for ratelimit image
  third_party/gateway-api/README.md
Due: none

Use modified upstream Dockerfile with calico/base instead of distroless
  third_party/envoy-gateway/Dockerfile
  third_party/envoy-gateway/Makefile
Due: calicoq, anomaly-detection-api

[EV-5310] Add enforced and pending to flow log policies (#8195)
  app-policy/checker/check.go
  felix/collector/file/file_test.go
  felix/collector/flowlog/aggregator_test.go
  felix/collector/flowlog/fixtures_test.go
  felix/collector/flowlog/json_serializer.go
  felix/collector/flowlog/json_serializer_test.go
  felix/collector/flowlog/reporter_test.go
  felix/collector/flowlog/types.go
  felix/collector/flowlog/types_test.go
  felix/fv/flow_logs_w_dns_test.go
  felix/fv/flow_logs_w_staged_test.go
  felix/fv/metrics/flow_tester.go
  felix/fv/metrics/flow_tester_depr.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Build using go-build instead of upstream machinery
  third_party/envoy-gateway/Dockerfile
  third_party/envoy-gateway/Makefile
Due: calicoq, anomaly-detection-api

Add enterprise crds to tigera-operator clusterrole RBAC for update
  charts/tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/02-role-tigera-operator.yaml
  manifests/tigera-operator.yaml
Due: calicoq, anomaly-detection-api

sort label keys and values returned from labels API
  queryserver/pkg/querycache/client/querycache.go
Due: calicoq, anomaly-detection-api

Change unknown payload from Warn to Debug (#8493)
  app-policy/policystore/process.go
Due: calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE
