Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE

Add domain tracker that creates and fills bpf maps
  felix/bpf/dnsresolver/domain_tracker.go
  felix/bpf/dnsresolver/domain_tracker_test.go
  felix/bpf/dnsresolver/maps.go
  felix/bpf/ipsets/ipsets.go
  felix/bpf/maps/maps.go
  felix/bpf/ut/dns_parser_test.go
  felix/dataplane/ipsets/ipsets_mgr.go
  felix/dataplane/linux/int_dataplane.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

fix bpf/ut attach test
  felix/bpf/ut/attach_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

DomainTracker propagates wildcards and removes per domain set limit
  felix/bpf-gpl/bpf.h
  felix/bpf-gpl/dns_reply.h
  felix/bpf/dnsresolver/domain_tracker.go
  felix/bpf/dnsresolver/domain_tracker_test.go
  felix/bpf/dnsresolver/maps.go
  felix/bpf/ut/dns_parser_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

[BPF] use mock map in DomainTracker tests
  felix/bpf/dnsresolver/domain_tracker.go
  felix/bpf/dnsresolver/domain_tracker_test.go
  felix/config/config_params.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix duplicate lock/unlock
  felix/dataplane/linux/bpf_ep_mgr_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix CI
  felix/dataplane/linux/bpf_ep_mgr_test.go
  felix/dataplane/linux/int_dataplane.go
  felix/fv/test-workload/test-workload.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Revert "Merge commit 'c4645db6af' into jwhuang-merge-os"
  .github/workflows/check_release_notes.yml
Due: calicoq, anomaly-detection-api

EGW fix for bpf
  felix/dataplane/linux/bpf_ep_mgr.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix that tenancy check failed at certain scale
  es-proxy/pkg/middleware/event/event.go
  linseed/pkg/backend/legacy/events/events.go
  linseed/pkg/backend/legacy/threatfeeds/domainnameset.go
  linseed/pkg/backend/legacy/threatfeeds/ipset.go
Due: calicoq, anomaly-detection-api

Add policy selector in the response from qs/policies (#7937)
  libcalico-go/lib/backend/k8s/conversion/conversion.go
  libcalico-go/lib/backend/k8s/conversion/conversion_test.go
  ts-queryserver/pkg/querycache/api/policy.go
  ts-queryserver/pkg/querycache/cache/policy.go
  ts-queryserver/pkg/querycache/client/interface.go
  ts-queryserver/pkg/querycache/client/querycache.go
  ts-queryserver/tests/fv/resources.go
Due: calicoq, anomaly-detection-api

Fix duplicate entry in cut release yamls
  .semaphore/cut-release.yml
  .semaphore/test-cut-release.yml
Due: calicoq, anomaly-detection-api

Run go mod tidy
  go.mod
  go.sum
Due: calicoq, anomaly-detection-api

Add NotifyAccess and WatchdogSec to calico-node.service
  node/calico-node.service
Due: Node: build all architectures, calicoq, anomaly-detection-api

Create calico-node rpm package
  lib.Makefile
  node/.gitignore
  node/Makefile
  node/calico-node.env
  node/calico-node.service
  node/rhel/calico-node.spec.in
Due: Node: build all architectures, calicoq, anomaly-detection-api

Reduce node rpm package dependencies
  node/rhel/calico-node.spec.in
Due: Node: build all architectures, calicoq, anomaly-detection-api

Use $git-release-tag-from-dev-tag to determine pre-releases
  lib.Makefile
Due: calicoq, anomaly-detection-api

Update calico node readme format
  node/README.md
Due: Node: build all architectures

Update selinux and fluent-bit package version generation
  fluent-bit/Makefile
  fluent-bit/rhel/calico-fluent-bit.spec.in
  lib.Makefile
  selinux/Makefile
  selinux/rhel/calico-selinux.spec.in
Due: calicoq, anomaly-detection-api

Set FELIX_LOGFILEPATH to none in calico node env file
  node/calico-node.env
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix calico/node rpm version due to git tag changes
  lib.Makefile
  node/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

Set FELIX_LOGSEVERITYSYS=none in calico-node.env
  node/calico-node.env
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix selinux and fluent-bit FVs
  fluent-bit/fv/create-vm-and-install.sh
  selinux/fv/create-vm-and-install.sh
Due: calicoq, anomaly-detection-api

RS-1894 fix: avoid selectgo hang in webhooks controller (#7915)
  webhooks-processor/pkg/webhooks/controller.go
  webhooks-processor/pkg/webhooks/controller_test.go
Due: calicoq, anomaly-detection-api

Delete unused manifests
  manifests/calico-bpf.yaml
  manifests/calico-policy-only.yaml
  manifests/calico-typha.yaml
  manifests/calico-vxlan.yaml
  manifests/calico.yaml
  manifests/canal.yaml
  manifests/crds.yaml
  manifests/flannel-migration/calico.yaml
Due: calicoq, anomaly-detection-api

[BPF] Fix setting internal DNSDoNotWriteIPSets
  felix/config/config_options.go
  felix/config/config_params_test.go
  felix/daemon/daemon.go
  felix/dataplane/linux/bpf_ep_mgr.go
  felix/fv/dns_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Revert KUBE_VERSION to 1.29.7 for windows tests
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/20-cni-plugin.yml
Due: calicoq, anomaly-detection-api

Configure non-cluster host log ingestion point in voltron
  charts/tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/02-role-tigera-operator.yaml
  manifests/tigera-operator.yaml
  voltron/cmd/voltron/main.go
  voltron/internal/pkg/config/config.go
Due: calicoq, anomaly-detection-api

Add voltron non-cluster host config unit tests
  voltron/internal/pkg/config/config_test.go
Due: calicoq, anomaly-detection-api

Automatic version updates for v3.19.2 release
  calico/_data/versions.yml
  charts/tigera-operator/values.yaml
  charts/tigera-prometheus-operator/values.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/calicoctl.yaml
  manifests/compliance-reporter-pod-managed.yaml
  manifests/compliance-reporter-pod.yaml
  manifests/fortimanager.yaml
  manifests/fortinet.yaml
  manifests/ingress/patch-ingress.yaml
  manifests/licenseagent.yaml
  manifests/ocp/02-tigera-operator.yaml
  manifests/ocp/tigera-prometheus-operator.yaml
  manifests/threatdef/honeypod/controller.yaml
  manifests/threatdef/honeypod/controller_os.yaml
  manifests/threatdef/honeypod/expose-svc.yaml
  manifests/threatdef/honeypod/ip-enum.yaml
  manifests/tigera-operator.yaml
  manifests/tigera-panorama-address-groups.yaml
  manifests/tigera-policy-integration.yaml
  manifests/tigera-prometheus-operator.yaml
Due: calicoq, anomaly-detection-api

fix fluentd release pipeline
  fluentd/.semaphore/cut-release.yml
Due: calicoq, anomaly-detection-api

update release validation variables
  hack/postrelease/calient/variables.py
Due: calicoq, anomaly-detection-api

fix helm charts publish location
  Makefile
Due: calicoq, anomaly-detection-api

RS-2049 fix: policystore read no read locks (#7968)
  app-policy/checker/server.go
  app-policy/policystore/store.go
Due: calicoq, anomaly-detection-api

Fixes from v3.19.2 release (#7985)
  Makefile
  calico/_data/versions.yml
Due: calicoq, anomaly-detection-api
