Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE

increase timeouts for readiness probe
  felix/fv/bpf_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add initial semaphore postrelease job (#7486)
  .semaphore/calient-postrelease.yml
  hack/postrelease/calient/Dockerfile
  hack/postrelease/calient/Makefile
  hack/postrelease/calient/lib/exceptions.py
  hack/postrelease/calient/lib/quay.py
  hack/postrelease/calient/test_calient_images.py
  hack/postrelease/calient/variables.py
Due: calicoq, anomaly-detection-api

Add initial semaphore postrelease job; cherry-pick of #7486
  .semaphore/calient-postrelease.yml
  hack/postrelease/calient/Dockerfile
  hack/postrelease/calient/Makefile
  hack/postrelease/calient/lib/exceptions.py
  hack/postrelease/calient/lib/quay.py
  hack/postrelease/calient/test_calient_images.py
  hack/postrelease/calient/variables.py
Due: calicoq, anomaly-detection-api

[CODE REVIEW] Update comments
  es-gateway/fv/kibana_proxy_test.go
  es-gateway/pkg/middlewares/allowlist.go
  es-gateway/pkg/middlewares/allowlist_test.go
  es-gateway/pkg/middlewares/tenancy.go
  es-gateway/pkg/middlewares/tenancy_test.go
Due: calicoq, anomaly-detection-api

Fix! Linting- Use backtips
  es-gateway/pkg/middlewares/allowlist.go
Due: calicoq, anomaly-detection-api

[RS-1818] Ability to dismiss events from an older index (#7473)
  linseed/pkg/backend/legacy/events/events.go
Due: calicoq, anomaly-detection-api

Try splitting kendest node version for dual tor.
  metadata.mk
  node/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

[CODE REVIEW] Switch to calico indices
  es-gateway/fv/kibana_proxy_test.go
  es-gateway/pkg/middlewares/allowlist.go
  es-gateway/pkg/middlewares/allowlist_test.go
  es-gateway/pkg/middlewares/tenancy_test.go
Due: calicoq, anomaly-detection-api

Revert all kindest node bumps.
  metadata.mk
Due: calicoq, anomaly-detection-api

fix svcgrp selector when it contains networkset
  es-proxy/pkg/middleware/servicegraph/selectors.go
  es-proxy/pkg/middleware/servicegraph/selectors_test.go
Due: calicoq, anomaly-detection-api

Fix apiserver build
  apiserver/cmd/apiserver/server/server.go
Due: calicoq, anomaly-detection-api

Rename Kibana Proxy to Challenger
  es-gateway/README.md
  es-gateway/cmd/main.go
  es-gateway/fv/challenger_test.go
  es-gateway/fv/setup_test.go
  es-gateway/fv/utils_test.go
  es-gateway/pkg/config/config.go
  es-gateway/pkg/middlewares/tenancy_test.go
  es-gateway/pkg/middlewares/types.go
Due: calicoq, anomaly-detection-api

Fix tier deletion
  libcalico-go/lib/backend/k8s/resources/resources.go
Due: calicoq, anomaly-detection-api

[TSLA-6659] Clean up es proxy of es client (#7514)
  es-proxy/pkg/middleware/rawquery/rawquery.go
  es-proxy/pkg/middleware/rawquery/rawquery_suite_test.go
  es-proxy/pkg/middleware/rawquery/rawquery_test.go
  es-proxy/pkg/server/config.go
  es-proxy/pkg/server/config_test.go
  es-proxy/pkg/server/server.go
  es-proxy/pkg/server/server_suite_test.go
Due: calicoq, anomaly-detection-api

Revert k8s_version
  metadata.mk
Due: calicoq, anomaly-detection-api

Revert kind version
  metadata.mk
Due: calicoq, anomaly-detection-api

[TSLA-6432][FLEX] Enhance Linseed docs (#7511)
  linseed/README.md
Due: none

Remove deprecated gopkg.in/square/go-jose.v2 dependency
  calicoctl/calicoctl/commands/common/printer.go
  go.mod
  licensing/carrotctl/cmd/generate.go
  licensing/client/client.go
  licensing/client/client_test.go
  licensing/client/jwt.go
  licensing/client/testutils/testutils.go
  licensing/monitor/monitor_test.go
  lma/pkg/auth/dex.go
  lma/pkg/auth/local.go
Due: calicoq, anomaly-detection-api

Also handle our annotations when converting v1 <-> v3
  libcalico-go/lib/backend/k8s/resources/customresource_test.go
  libcalico-go/lib/backend/k8s/resources/resources.go
Due: calicoq, anomaly-detection-api

Update K8S version, enet tests
  hack/test/kind/kind.config
  metadata.mk
  node/tests/k8st/external-network/external-networks.sh
Due: Node: build all architectures, calicoq, anomaly-detection-api

Format code
  apiserver/cmd/apiserver/server/options.go
  apiserver/cmd/apiserver/server/server.go
Due: calicoq, anomaly-detection-api

Format code
  calicoctl/calicoctl/commands/common/printer.go
Due: calicoq, anomaly-detection-api

Avoid rebuilding protobufs on ARM.
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/20-felix.yml
Due: calicoq, anomaly-detection-api

Crash if tenant ID is missing
  es-gateway/cmd/main.go
Due: calicoq, anomaly-detection-api

Format code
  apiserver/cmd/apiserver/server/options.go
Due: calicoq, anomaly-detection-api

Update PacketCapture operator v1 CR as PacketCaptureAPI
  charts/tigera-operator/crds/operator.tigera.io_packetcaptureapis.yaml
  charts/tigera-operator/templates/tigera-operator/02-role-tigera-operator.yaml
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/02-role-tigera-operator.yaml
  manifests/operator-crds.yaml
  manifests/tigera-operator.yaml
Due: calicoq, anomaly-detection-api

Add static route to fix enet tests
  node/tests/k8st/external-network-tests/test_external_network.py
Due: Node: build all architectures, calicoq, anomaly-detection-api

Make external networks setup/teardown more robust.
  node/Makefile
  node/tests/k8st/deploy_resources_on_kind_cluster.sh
  node/tests/k8st/external-network/external-networks.sh
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix that borrowed IPs weren't exported to external netowrk peers.
  confd/pkg/resource/template/template_funcs.go
  node/tests/k8st/external-network-tests/test_external_network.py
Due: Node: build all architectures, calicoq, anomaly-detection-api

Update tests to expect pipe protocol.
  confd/pkg/resource/template/template_funcs.go
  confd/pkg/resource/template/template_funcs_test.go
  confd/tests/compiled_templates/externalnetwork/delete_enet_while_peer_still_references/step1/bird.cfg
  confd/tests/compiled_templates/externalnetwork/delete_enet_while_peer_still_references/step1/bird6.cfg
  confd/tests/compiled_templates/externalnetwork/explicit_peer/bird.cfg
  confd/tests/compiled_templates/externalnetwork/explicit_peer/bird6.cfg
  confd/tests/compiled_templates/externalnetwork/global_peer/bird.cfg
  confd/tests/compiled_templates/externalnetwork/global_peer/bird6.cfg
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add packet capture CR into OCP
  manifests/ocp/operator.tigera.io_packetcaptureapis.yaml
Due: calicoq, anomaly-detection-api

Update go build
  Makefile
Due: calicoq, anomaly-detection-api
