Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Node: build all architectures:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu2004
  prologue:
    commands:
    - cd node
  jobs:
  - name: Build Windows archive
    commands:
    - ../.semaphore/run-and-monitor build-windows-archive.log make build-windows-archive

calicoq:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd calicoq
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

anomaly-detection-api:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd anomaly-detection-api
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

Abstract FakeConsumer to test Jira and Slack providers
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider_test.go
  webhooks-processor/pkg/testutils/fakes.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Make various parameters for providers a lot more configurable
  webhooks-processor/pkg/helpers/backoff.go
  webhooks-processor/pkg/helpers/limiter.go
  webhooks-processor/pkg/providers/debug.go
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/slack/provider.go
  webhooks-processor/pkg/providers/slack/provider_test.go
  webhooks-processor/pkg/providers/types.go
  webhooks-processor/pkg/testutils/fakes.go
  webhooks-processor/pkg/webhooks/abstract.go
  webhooks-processor/pkg/webhooks/config.go
  webhooks-processor/pkg/webhooks/registry.go
  webhooks-processor/pkg/webhooks/state-internals.go
  webhooks-processor/pkg/webhooks/state-webhook.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Test Slack provider failure
  webhooks-processor/pkg/providers/slack/provider_test.go
Due: calicoq, anomaly-detection-api

Test failed webhook provider validation
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Consolidate invalid config test
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Test Jira provider
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider_test.go
Due: calicoq, anomaly-detection-api

Validate that query can be used as events selector
  webhooks-processor/pkg/webhooks/state-internals.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Show code coverage with make ut
  .gitignore
  webhooks-processor/Makefile
Due: calicoq, anomaly-detection-api

Use ProcessFunc in state-webhook.go
  webhooks-processor/pkg/webhooks/abstract.go
  webhooks-processor/pkg/webhooks/state-internals.go
  webhooks-processor/pkg/webhooks/state-webhook.go
Due: calicoq, anomaly-detection-api

Update tigera apiserver README
  apiserver/README.md
Due: none

[windows HPC] wrap felix to restart it for config changes (#6783)
  node/windows-packaging/CalicoWindows/felix/felix-service.ps1
Due: Node: build all architectures, calicoq, anomaly-detection-api

Keep backoff and limiters decoupled from providers
  webhooks-processor/pkg/helpers/backoff.go
  webhooks-processor/pkg/helpers/limiter.go
  webhooks-processor/pkg/providers/debug.go
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider.go
  webhooks-processor/pkg/providers/slack/provider_test.go
  webhooks-processor/pkg/providers/types.go
  webhooks-processor/pkg/webhooks/state-internals.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Various review markups
  webhooks-processor/pkg/providers/debug.go
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider.go
  webhooks-processor/pkg/providers/slack/provider_test.go
  webhooks-processor/pkg/webhooks/registry.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Allow for a bit of delay in provider_test
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider_test.go
Due: calicoq, anomaly-detection-api

Configure indices for single index setup at startup
  linseed/cmd/configure.go
  linseed/cmd/main.go
  linseed/pkg/backend/legacy/templates/bootstrap.go
  linseed/pkg/backend/legacy/templates/cached_initializer.go
  linseed/pkg/config/config.go
Due: calicoq, anomaly-detection-api

Update elastic to 7.17.14 and dependencies
  Makefile
  patches/elastic-7.17.x-Update-dependencies-to-reduce-CVEs.patch
Due: calicoq, anomaly-detection-api

Stop making provider constants configurable
  webhooks-processor/pkg/helpers/backoff.go
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/slack/provider.go
Due: calicoq, anomaly-detection-api

Cherry-pick OSS fix to configureASNumber() in startup.go (#6816)
  node/pkg/lifecycle/startup/startup.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Provide config when creating provider
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider.go
  webhooks-processor/pkg/providers/slack/provider_test.go
  webhooks-processor/pkg/webhooks/registry.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Get rid of Debug provider and use processFunc as originally intended
  webhooks-processor/pkg/providers/debug.go
  webhooks-processor/pkg/webhooks/state-internals.go
Due: calicoq, anomaly-detection-api

[EV-4276] update kibana to 7.17.14 and dependencies
  Makefile
  patches/0002-Bump-Node.js-to-18.18.2-and-other-dependencies.patch
Due: calicoq, anomaly-detection-api

[EV-4308] Update dependencies
  calico/_data/versions.yml
  cni-plugin/Makefile
  metadata.mk
Due: calicoq, anomaly-detection-api

Fix tests
  felix/fv/containers/containers.go
  linseed/cmd/configure.go
  linseed/cmd/main.go
  linseed/fv/audit_logs_test.go
  linseed/fv/benchmarks_test.go
  linseed/fv/bgp_logs_test.go
  linseed/fv/compliance_reports_test.go
  linseed/fv/configure_indices_test.go
  linseed/fv/dns_logs_test.go
  linseed/fv/events_test.go
  linseed/fv/flow_logs_test.go
  linseed/fv/l7_logs_test.go
  linseed/fv/runtime_reports_test.go
  linseed/fv/snapshots_test.go
  linseed/fv/threatfeeds_domainset_test.go
  linseed/fv/threatfeeds_ipset_test.go
  linseed/fv/utils_test.go
  linseed/fv/waf_logs_test.go
  linseed/pkg/backend/api/interfaces.go
  linseed/pkg/backend/legacy/index/index.go
  linseed/pkg/backend/legacy/waf/logs.go
  linseed/pkg/backend/testutils/helpers.go
  linseed/pkg/config/config.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

update README
  README.md
Due: none

Remove a few unused config options from es-proxy
  es-proxy/pkg/server/config.go
Due: calicoq, anomaly-detection-api

Remove irrelevant otel comment in go.mod
  go.mod
Due: calicoq, anomaly-detection-api

FV tests for process info and tcp stats
  felix/fv/flow_logs_w_tcp_stats_test.go
  felix/fv/metrics/flow_tester_depr.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Keep Config encapsulated in Provider
  webhooks-processor/pkg/providers/generic/provider.go
  webhooks-processor/pkg/providers/jira/provider.go
  webhooks-processor/pkg/providers/jira/provider_test.go
  webhooks-processor/pkg/providers/slack/provider.go
  webhooks-processor/pkg/providers/slack/provider_test.go
Due: calicoq, anomaly-detection-api

[windows] Add windows firewall rule to allow prometheus reporting ports on windows HPC (#6776)
  api/pkg/apis/projectcalico/v3/felixconfig.go
  api/pkg/apis/projectcalico/v3/zz_generated.deepcopy.go
  api/pkg/openapi/openapi_generated.go
  calicoctl/calicoctl/commands/crds/crds.go
  felix/config/config_params.go
  felix/daemon/daemon.go
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
  libcalico-go/lib/validator/v3/validator_test.go
  libcalico-go/lib/winutils/winutils.go
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/crd.projectcalico.org_felixconfigurations.yaml
  manifests/operator-crds.yaml
  manifests/tigera-operator.yaml
  node/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

[EV-4312] Set externalTrafficPolicy iff LoadBalancer (#6833)
  charts/tigera-operator/templates/mcm/externalservice.yaml
Due: calicoq, anomaly-detection-api

[CODE REVIEWS] Run initialization for FVs as part of setup function
  felix/fv/containers/containers.go
  linseed/cmd/configure.go
  linseed/cmd/main.go
  linseed/fv/audit_logs_test.go
  linseed/fv/benchmarks_test.go
  linseed/fv/bgp_logs_test.go
  linseed/fv/compliance_reports_test.go
  linseed/fv/configure_indices_test.go
  linseed/fv/dns_logs_test.go
  linseed/fv/events_test.go
  linseed/fv/flow_logs_test.go
  linseed/fv/l7_logs_test.go
  linseed/fv/runtime_reports_test.go
  linseed/fv/setup_test.go
  linseed/fv/snapshots_test.go
  linseed/fv/threatfeeds_domainset_test.go
  linseed/fv/threatfeeds_ipset_test.go
  linseed/fv/utils_test.go
  linseed/fv/waf_logs_test.go
  linseed/pkg/backend/legacy/index/index.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

[DE-2113] add release prep targets (#6830)
  Makefile
  charts/tigera-operator/values.yaml
  lib.Makefile
Due: calicoq, anomaly-detection-api

Bump /x/net
  patches/0001-Upgrade-golang.org-x-packages.patch
Due: calicoq, anomaly-detection-api

Addd tenant ns in config for multitenant check
  intrusion-detection-controller/pkg/config/config.go
  kube-controllers/pkg/config/config.go
  kube-controllers/pkg/config/runconfig.go
  linseed/pkg/config/config.go
  policy-recommendation/pkg/config/config.go
  voltron/internal/pkg/config/config.go
Due: calicoq, anomaly-detection-api

linseed query errors to propagate to webhook status.
  webhooks-processor/pkg/events/linseed.go
  webhooks-processor/pkg/webhooks/abstract.go
  webhooks-processor/pkg/webhooks/state-webhook.go
  webhooks-processor/pkg/webhooks/webhooks_test.go
Due: calicoq, anomaly-detection-api

Add tenant ns in config for multitenant check
  intrusion-detection-controller/pkg/config/config.go
  kube-controllers/pkg/config/config.go
  linseed/cmd/main.go
  policy-recommendation/pkg/config/config.go
  voltron/internal/pkg/config/config.go
Due: calicoq, anomaly-detection-api

Add tenant ns in config for multitenant check
  kube-controllers/pkg/config/runconfig.go
Due: calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE
