Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE

add operator CRDs before operator in dual-tor tests
  node/tests/k8st/dual-tor/dualtor.sh
Due: Node: build all architectures, calicoq, anomaly-detection-api

Apply operator crds (installation, apiserver) before the operator manifest
  process/testing/winfv-felix/capz/install-calico.sh
Due: calicoq, anomaly-detection-api

Fix ocp.tgz target in release-archive.mk
  release-archive.mk
Due: calicoq, anomaly-detection-api

Fix AZ_KUBE_VERSION and increase porter timeout
  process/testing/winfv-felix/capz/export-env.sh
  process/testing/winfv-felix/setup-fv-capz.sh
Due: calicoq, anomaly-detection-api

skip export tests
  calicoctl/calicoctl/commands/datastore/migrate/export_test.go
Due: calicoq, anomaly-detection-api

make fix-changed
  calicoctl/calicoctl/commands/datastore/migrate/export_test.go
Due: calicoq, anomaly-detection-api

BPF program to match dst IP with IPSet
  felix/bpf-gpl/bpf.h
  felix/bpf-gpl/globals.h
  felix/bpf-gpl/ipt_match_ipset.c
  felix/bpf-gpl/list-objs
  felix/bpf/iptables/dns.go
  felix/bpf/libbpf/libbpf.go
  felix/bpf/libbpf/libbpf_api.h
  felix/bpf/ut/dns_parser_iptables_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add conntrack cleanup
  felix/.gitignore
  felix/bpf-gpl/Makefile
  felix/bpf-gpl/calculate-flags
  felix/bpf-gpl/list-objs
  felix/bpf-gpl/skb.h
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix fmt
  felix/bpf/iptables/dns.go
  felix/bpf/libbpf/libbpf.go
  felix/bpf/ut/dns_parser_iptables_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix manifests
  charts/multi-tenant-crds/crds/operator.tigera.io_apiservers.yaml
  charts/multi-tenant-crds/crds/operator.tigera.io_imagesets.yaml
  charts/tigera-operator/crds/operator.tigera.io_apiservers.yaml
  charts/tigera-operator/crds/operator.tigera.io_imagesets.yaml
  felix/proto/felixbackend.pb.go
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/ocp/operator.tigera.io_apiservers.yaml
  manifests/ocp/operator.tigera.io_imagesets.yaml
  manifests/operator-crds.yaml
  manifests/tigera-operator.yaml
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add more debug info
  process/testing/winfv-felix/capz/install-calico.sh
  process/testing/winfv-felix/setup-fv-capz.sh
Due: calicoq, anomaly-detection-api

Fix CI
  metadata.mk
Due: calicoq, anomaly-detection-api

Fix preflight checks
  Makefile
Due: calicoq, anomaly-detection-api

make fix-all
  felix/proto/felixbackend.pb.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Update Win FV CAPZ now that operator manages CRDs
  process/testing/winfv-felix/capz/install-calico.sh
Due: calicoq, anomaly-detection-api

add releasing docs for Enterprise (#8406)
  release/RELEASING_ENTERPRISE.md
Due: calicoq, anomaly-detection-api

Pick bpf build improvements and add UT for CTLB
  felix/.gitignore
  felix/bpf-gpl/Makefile
  felix/bpf-gpl/calculate-flags
  felix/bpf-gpl/list-objs
  felix/bpf-gpl/nat_lookup.h
  felix/bpf/kprobe/kprobe.go
  felix/bpf/nat/connecttime.go
  felix/bpf/stats/stats.go
  felix/bpf/ut/precompilation_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix loading CTLB program
  felix/bpf/nat/connecttime.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

CAPZ: add wait for felixconfig before setting debug logging
  process/testing/winfv-felix/setup-fv-capz.sh
Due: calicoq, anomaly-detection-api

Fix gitignore
  felix/.gitignore
Due: Node: build all architectures

Reduce timeout
  process/testing/winfv-felix/setup-fv-capz.sh
Due: calicoq, anomaly-detection-api

Add Uts and fix static-checks
  felix/bpf-gpl/connect_balancer.c
  felix/bpf-gpl/ipt_match_ipset.c
  felix/bpf-gpl/list-objs
  felix/bpf/iptables/dns.go
  felix/bpf/ut/dns_parser_iptables_test.go
  felix/bpf/ut/precompilation_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add back missing Makefile target so hash releases can build (#8415)
  Makefile
Due: calicoq, anomaly-detection-api

Fix EE hash release builds
  release/build/main.go
  release/pkg/manager/calico/manager.go
  release/pkg/tasks/hashrelease.go
Due: calicoq, anomaly-detection-api

Add suite for ipset mgr (#9650)
  felix/dataplane/ipsets/ipsets_mgr_ut_suite_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix IPSet delta update for dns
  felix/dataplane/ipsets/ipsets_mgr.go
  felix/dataplane/ipsets/ipsets_mgr_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Use fedora archive repo for iptables src rpm
  node/Dockerfile.amd64
  node/Dockerfile.arm64
Due: Node: build all architectures, calicoq, anomaly-detection-api

Address review comments
  felix/bpf-gpl/list-objs
  felix/bpf/iptables/dns.go
  felix/bpf/ut/dns_parser_iptables_test.go
  felix/bpf/ut/dns_parser_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix bpf ut
  felix/bpf/ut/precompilation_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Enhance interface auto-detection for BPF (#9498)
  felix/bpf/ut/attach_test.go
  felix/bpf/ut/precompilation_test.go
  felix/dataplane/linux/bpf_ep_mgr.go
  felix/dataplane/linux/bpf_ep_mgr_test.go
  felix/fv/bpf_attach_test.go
  felix/fv/bpf_test.go
  felix/fv/donottrack_test.go
  felix/netlinkshim/mocknetlink/netlink.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix pre-flight checks
  felix/proto/felixbackend.pb.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Collect more resources with diags command (#8427)
  calicoctl/calicoctl/commands/cluster/diags.go
Due: calicoq, anomaly-detection-api

Increase Linseed server's WriteTimeout to 60s to fix TLS errors
  linseed/fv/server_test.go
  linseed/pkg/server/server.go
Due: calicoq, anomaly-detection-api

New copyright year
  linseed/pkg/server/server.go
Due: calicoq, anomaly-detection-api

make fix
  linseed/fv/server_test.go
Due: calicoq, anomaly-detection-api

Improve commenting
  linseed/fv/server_test.go
Due: calicoq, anomaly-detection-api

Bump golang.org/x/net to v0.33.0
  api/go.mod
  api/go.sum
  go.mod
  go.sum
Due: calicoq, anomaly-detection-api

Improve NFLOG processing throughput (#8239)
  felix/collector/collector_test.go
  felix/collector/iptables.go
  nfnetlink/nflog_linux.go
Due: Node: build all architectures, calicoq, anomaly-detection-api
