Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE

Remove gtm plugin from kibana when not enabled
  kibana/docker-image/Dockerfile
Due: calicoq, anomaly-detection-api

Copy necessary Linux coreutils after eck-operator v2.16.1
  kibana/docker-image/Dockerfile
Due: calicoq, anomaly-detection-api

[EV-5459] Define the implicit tier action for staged policies (#8507)
  app-policy/checker/check.go
  app-policy/checker/check_test.go
  calicoq/calicoq/commands/describe-host.go
  felix/calc/active_rules_calculator.go
  felix/calc/endpoint_lookup_cache.go
  felix/calc/endpoint_lookup_cache_test.go
  felix/calc/policy_lookup_cache.go
  felix/calc/rule_scanner.go
  felix/collector/collector_test.go
  felix/collector/flowlog/fixtures_test.go
  felix/collector/l7log/reporter_test.go
  felix/collector/stats.go
  felix/fv/flow_logs_w_staged_test.go
  libcalico-go/lib/backend/model/policy.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Skip oss-ui in release
  hack/check_semaphore_cut_releases.py
Due: calicoq, anomaly-detection-api

Make generated files
  felix/docs/config-params.json
  manifests/aks/tigera-operator-upgrade.yaml
Due: Node: build all architectures, calicoq, anomaly-detection-api

revert voltron auto promotion delete
  .semaphore/semaphore.yml.d/03-promotions.yml
Due: calicoq, anomaly-detection-api

make gen-semaphore-yaml
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
Due: calicoq, anomaly-detection-api

Remove manifest/alp folder from enterprise source tree
  manifests/alp/istio-inject-configmap-1.15.yaml
Due: calicoq, anomaly-detection-api

Fix release check
  hack/check_semaphore_cut_releases.py
  manifests/aks/tigera-operator-upgrade.yaml
Due: calicoq, anomaly-detection-api

Fix a couple of tests
  felix/fv/dns_scapy_test.go
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

fix updating operator version
  release/cmd/hashrelease_enterprise.go
Due: calicoq, anomaly-detection-api

Add RPM file publishing script/rules/etc (#8758)
  Makefile
  hack/publish_rpms_to_repo.sh
  hack/update_rpm_repo.sh
  lib.Makefile
Due: calicoq, anomaly-detection-api

Adding Proxy server test in Voltron FV (#8750)
  voltron/test/fv/fv_test.go
Due: calicoq, anomaly-detection-api

Fix json tag on Linseed API
  linseed/pkg/apis/v1/l3_log.go
Due: calicoq, anomaly-detection-api

Replace `golang.org/x/exp/rand` with `math/rand/v2`
  goldmane/pkg/flowgen/testserver.go
Due: calicoq, anomaly-detection-api

update operator init registry to match operator registry (#8769)
  release/pkg/manager/operator/templates/images.go
Due: calicoq, anomaly-detection-api

Tidy up go.mod.
  go.mod
Due: calicoq, anomaly-detection-api

Revert the changes to felix/docker-image/Dockerfile.
  felix/docker-image/Dockerfile
Due: Node: build all architectures, calicoq, anomaly-detection-api

add back --allow-version-mismatch flag to node usage
  calicoctl/calicoctl/commands/node/diags.go
Due: calicoq, anomaly-detection-api

Attempting to fix some broken code fragements from a bad merge I did for f0434ee2eb.
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Sort ruleset files in alphabetical order
  ui-apis/pkg/middleware/waf/waf_ruleset.go
Due: calicoq, anomaly-detection-api

Add test to check ordering is maintained
  ui-apis/pkg/middleware/waf/waf_test.go
Due: calicoq, anomaly-detection-api

Address code review feedback; remove unsupported arch values.
  .semaphore/semaphore.yml.d/blocks/20-whisker-backend.yml
Due: calicoq, anomaly-detection-api

Add support for kbanp in policyMatch queries
  linseed/pkg/apis/v1/l3_flow.go
  linseed/pkg/backend/legacy/flows/query_utils.go
  linseed/pkg/backend/legacy/flows/query_utils_test.go
Due: calicoq, anomaly-detection-api

Fixing code conflict issue on merge for felix/fv/vxlan_test.go.
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Removing arch values for ppc64le or s390x that are not supported in Enterprise.
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/blocks/20-whisker.yml
Due: calicoq, anomaly-detection-api

Fixing protoc-gen-go v1.36.1 dirty check on goldmane/proto/api.pb.go
  Makefile
  goldmane/proto/api.pb.go
Due: calicoq, anomaly-detection-api

Attempting to fix the Felix FVs due to bad code merge felix/fv/vxlan_test.go.
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Revert "Attempting to fix the Felix FVs due to bad code merge felix/fv/vxlan_test.go."
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Attempting to bypass code merge issues in felix/fv/vxlan_test.go.
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add VXLAN Strategies where needed
  felix/fv/egress_ip_test.go
  felix/fv/nat_outgoing_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

[CORE-10623] Make the L7-Admission-Controller port configurable via an environment variable.
  l7-admission-controller/cmd/l7-admission-controller/config/config.go
  l7-admission-controller/cmd/l7-admission-controller/main.go
Due: calicoq, anomaly-detection-api

Fix remote VXLAN test
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix sidecarWaf and sidecarAlp flags mismatch
  app-policy/flags/flags.go
Due: calicoq, anomaly-detection-api

Update README with missing flags and env vars
  app-policy/README.md
Due: none

fix Program routes for VXLAN tunnel IPs assigned from /32 or /128 blocks merge
  felix/calc/calc_graph_commercial_fv_test.go
  felix/calc/l3_route_resolver.go
  felix/calc/remote_cluster_resources_for_test.go
  felix/calc/resources_for_test.go
  felix/calc/states_for_test.go
  felix/dataplane/linux/aws_ip_mgr_test.go
  felix/dataplane/linux/hostip_mgr.go
  felix/dataplane/linux/hostip_mgr_test.go
  felix/dataplane/linux/vxlan_conflict_hdlr.go
  felix/dataplane/linux/vxlan_mgr_test.go
  felix/policysync/processor_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix UTs
  felix/calc/l3_route_resolver.go
  felix/calc/remote_cluster_resources_for_test.go
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Fix loading package
  felix/fv/vxlan_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

fix fv policysync test
  felix/fv/policysync_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api
