Repository dimitri-nicolo/calico: changes, and which Semaphore blocks are due for each by the changed paths.
All: Node: build all architectures, calicoq, anomaly-detection-api

Node: build all architectures:
  agent:
    machine:
      type: e1-standard-4
      os_image: ubuntu2004
  prologue:
    commands:
    - cd node
  jobs:
  - name: Build Windows archive
    commands:
    - ../.semaphore/run-and-monitor build-windows-archive.log make build-windows-archive

calicoq:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd calicoq
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

anomaly-detection-api:
  secrets:
  - name: test-customer-license
  prologue:
    commands:
    - cd anomaly-detection-api
  jobs:
  - name: make ci
    commands:
    - ../.semaphore/run-and-monitor ci.log make ci

Remove pending policy check from aggr SNP tests (#8535)
  felix/fv/flow_logs_w_staged_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

hashrelease (#8511)
  .semaphore/release/hashrelease_enterprise.yml
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/03-promotions.yml
  Makefile
  fluent-bit/Makefile
  hack/generate-rpm-version.sh
  metadata.mk
  node/Makefile
  private-registry.md.tpl
  release-archive.mk
  release/cmd/flags_enterprise.go
  release/cmd/hashrelease.go
  release/cmd/hashrelease_enterprise.go
  release/cmd/main.go
  release/internal/command/gcr.go
  release/internal/command/runner.go
  release/internal/hashreleaseserver/enterprise.go
  release/internal/pinnedversion/enterprise.go
  release/internal/pinnedversion/pinnedversion.go
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
  release/internal/registry/enterprise.go
  release/internal/utils/enterprise.go
  release/internal/version/enterprise.go
  release/pkg/manager/calico/manager.go
  release/pkg/manager/calico/manager_enterprise.go
  release/pkg/manager/calico/options.go
  release/pkg/manager/calico/options_enterprise.go
  release/pkg/manager/calico/templates/yum.conf.gotmpl
  release/pkg/manager/operator/manager_enterprise.go
  release/pkg/manager/operator/templates/images.go
  release/pkg/tasks/hashrelease_enterprise.go
  selinux/Makefile
Due: Node: build all architectures, calicoq, anomaly-detection-api

Raw Rule gets parsed correctly
  ui-apis/pkg/middleware/waf/parser/parser.go
  ui-apis/pkg/middleware/waf/parser/parser_test.go
  ui-apis/pkg/middleware/waf/parser/testdata/simple_testdata_parsed.json
Due: calicoq, anomaly-detection-api

Add cut-release and test-cut-release logic
  .semaphore/cut-release.yml
  .semaphore/test-cut-release.yml
  third_party/envoy-gateway/.semaphore/cut-release.yml
  third_party/envoy-gateway/.semaphore/test-cut-release.yml
  third_party/envoy-ratelimit/.semaphore/cut-release.yml
  third_party/envoy-ratelimit/.semaphore/test-cut-release.yml
Due: calicoq, anomaly-detection-api

Align image naming and versioning with alertmanager example
  third_party/envoy-gateway/Makefile
  third_party/envoy-ratelimit/Makefile
Due: calicoq, anomaly-detection-api

Update image versions in calico/_data/versions.yml
  calico/_data/versions.yml
Due: calicoq, anomaly-detection-api

Delete README file that isn't really helpful
  third_party/gateway-api/README.md
Due: none

Bump ENVOY_VERSION to version used by Envoy Gateway v1.1.2
  third_party/envoybinary/Makefile
Due: calicoq, anomaly-detection-api

Build envoy-proxy image as well as envoybinary
  third_party/envoybinary/Dockerfile
  third_party/envoybinary/Makefile
Due: calicoq, anomaly-detection-api

Also update release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
Due: calicoq, anomaly-detection-api

[EV-5310] Add enforced and pending policies to linseed (#8437)
  intrusion-detection-controller/pkg/globalalert/query/test_files/5_with_no_metric_and_no_aggregation_events_doc.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/5_with_no_metric_and_no_aggregation_response.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/5_with_no_metric_and_no_aggregation_response_part2.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/9_with_in_without_metric_and_no_aggregation_events_doc.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/9_with_in_without_metric_and_no_aggregation_response.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/9_with_notin_without_metric_and_no_aggregation_events_doc.json
  intrusion-detection-controller/pkg/globalalert/query/test_files/9_with_notin_without_metric_and_no_aggregation_response.json
  linseed/fv/testdata/backend/flow_logs_legacy.txt
  linseed/pkg/apis/v1/l3_flow.go
  linseed/pkg/apis/v1/l3_log.go
  linseed/pkg/backend/legacy/flows/flows.go
  linseed/pkg/backend/legacy/flows/flows_test.go
  linseed/pkg/backend/legacy/flows/logs.go
  linseed/pkg/backend/legacy/flows/query_utils.go
  linseed/pkg/backend/legacy/flows/query_utils_test.go
  linseed/pkg/backend/legacy/flows/testdata/elastic_valid_flow.json
  linseed/pkg/backend/legacy/templates/flowlog_mappings.json
  linseed/pkg/backend/testutils/flowlog_builder.go
  lma/pkg/elastic/compositeaggregation.go
Due: calicoq, anomaly-detection-api

Use correct arch versions of calico/base
  third_party/envoy-gateway/Dockerfile
  third_party/envoy-ratelimit/Dockerfile
Due: calicoq, anomaly-detection-api

Add QEMU magic
  third_party/envoy-gateway/Dockerfile
Due: calicoq, anomaly-detection-api

Make `make clean` clean up all arches
  third_party/envoy-gateway/Makefile
  third_party/envoy-ratelimit/Makefile
Due: calicoq, anomaly-detection-api

update hashreleases (#8542)
  release/Makefile
  release/cmd/flags_enterprise.go
  release/cmd/hashrelease.go
  release/cmd/hashrelease_enterprise.go
  release/cmd/main.go
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
  release/internal/utils/enterprise.go
  release/pkg/manager/calico/manager_enterprise.go
  release/pkg/manager/calico/options_enterprise.go
Due: calicoq, anomaly-detection-api

set GITHUB_TOKEN (#8545)
  .semaphore/release/hashrelease_enterprise.yml
Due: calicoq, anomaly-detection-api

Revert incorrect removal of `registry` line for gateway-api proxy image
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
Due: calicoq, anomaly-detection-api

Bump to v1.31.5 to pick up https://github.com/envoyproxy/envoy/commit/2ed8986f72dcdfabd9e48df67b3b73ac5914d753
  third_party/envoybinary/Makefile
Due: calicoq, anomaly-detection-api

Use amd64 for the busybox stage for envoy-gateway image build (#8548)
  third_party/envoy-gateway/Dockerfile
Due: calicoq, anomaly-detection-api

update registy for component version (#8550)
  calico/_data/versions.yml
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
  release/internal/registry/component.go
Due: calicoq, anomaly-detection-api

revert changes to registry in versions templates (#8552)
  calico/_data/versions.yml
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
Due: calicoq, anomaly-detection-api

[EV-5312] Get SNP Prometheus updates from pending policies, and adapt cnx stats FVs (#8375)
  felix/collector/prometheus/aggregator_policy_rules.go
  felix/collector/prometheus/aggregator_policy_rules_test.go
  felix/collector/prometheus/reporter_test.go
  felix/fv/cnx_stats_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

[EV-5314] Query pending policy matches in policy recommendations (#8543)
  policy-recommendation/pkg/flows/query.go
  policy-recommendation/pkg/flows/query_test.go
Due: calicoq, anomaly-detection-api

fix access to GCR for hashreleases (#8562)
  .semaphore/release/hashrelease_enterprise.yml
Due: calicoq, anomaly-detection-api

Copy recent gateway image build fixes to master branch
  .semaphore/cut-release.yml
  .semaphore/push-images/third_party/envoy-proxy.yml
  .semaphore/semaphore-scheduled-builds.yml
  .semaphore/semaphore.yml
  .semaphore/semaphore.yml.d/03-promotions.yml
  .semaphore/test-cut-release.yml
  third_party/envoy-gateway/Dockerfile
  third_party/envoy-proxy/.gitignore
  third_party/envoy-proxy/.semaphore/cut-release.yml
  third_party/envoy-proxy/.semaphore/test-cut-release.yml
  third_party/envoy-proxy/Dockerfile
  third_party/envoy-proxy/Makefile
  third_party/envoybinary/Dockerfile
  third_party/envoybinary/Makefile
Due: calicoq, anomaly-detection-api

Update the other image version places
  calico/_data/versions.yml
  release/internal/pinnedversion/templates/enterprise-versions.yaml.gotmpl
Due: calicoq, anomaly-detection-api

Add a separate DNSPolicyMode config for NFTables
  api/pkg/apis/projectcalico/v3/felixconfig.go
  api/pkg/apis/projectcalico/v3/zz_generated.deepcopy.go
  api/pkg/openapi/generated.openapi.go
  felix/bpf/ipsets/ipsets.go
  felix/config/config_params.go
  felix/dataplane/driver.go
  felix/dataplane/linux/int_dataplane.go
  felix/docs/config-params.json
  felix/docs/config-params.md
  felix/fv/bpf_test.go
  felix/fv/dns_test.go
  felix/rules/policy.go
  felix/rules/rule_defs.go
  felix/rules/static.go
  libcalico-go/config/crd/crd.projectcalico.org_felixconfigurations.yaml
  libcalico-go/lib/backend/syncersv1/updateprocessors/configurationprocessor_test.go
  manifests/aks/tigera-operator-upgrade.yaml
  manifests/operator-crds.yaml
Due: Node: build all architectures, calicoq, anomaly-detection-api

CVE fixes (#8561)
  pod2daemon/Makefile
  pod2daemon/patches/0002-Patch-go-CVEs.patch
  third_party/alertmanager/Makefile
  third_party/alertmanager/patches/0002-Patch-go-CVEs.patch
  third_party/dex/Makefile
  third_party/dex/patches/0002-Dex-CVE-patch.patch
  third_party/eck-operator/Makefile
  third_party/eck-operator/patches/0002-Patch-go-CVEs.patch
  third_party/prometheus-operator/Makefile
  third_party/prometheus-operator/patches/0001-Patch-go-CVEs.patch
  third_party/prometheus/Makefile
  third_party/prometheus/patches/0003-Patch-go-CVEs.patch
Due: calicoq, anomaly-detection-api

Garbage collect IPSet BPF matcher pins when used in iptables Inline dns policy mode. (#8537)
  felix/bpf/bpfdefs/defs.go
  felix/bpf/ipsets/ipsets.go
  felix/bpf/iptables/dns.go
  felix/bpf/ut/dns_parser_iptables_test.go
  felix/bpf/ut/ipset_match_iptables_test.go
  felix/dataplane/driver.go
  felix/dataplane/linux/int_dataplane.go
  felix/rules/policy.go
  felix/rules/policy_test.go
  felix/rules/rule_defs.go
  felix/rules/static.go
  felix/rules/static_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Change process dataplane info update log to debug (#8573)
  felix/collector/collector.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Get UBI image security updates
  third_party/envoy-proxy/Dockerfile
Due: calicoq, anomaly-detection-api

Fix EBUSY errors from netlink operations.
  felix/ifacemonitor/iface_monitor.go
  go.mod
  go.sum
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add EINTR tests.
  felix/ifacemonitor/iface_monitor.go
  felix/ifacemonitor/ifacemonitor_test.go
  felix/netlinkshim/mocknetlink/netlink.go
  felix/routetable/route_table_test.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Rename API
  felix/dataplane/linux/int_dataplane.go
  felix/rules/policy.go
  felix/rules/rule_defs.go
  felix/rules/static.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Update Envoy gateway code from v1.1.2 to v1.2.6
  third_party/envoy-gateway/Makefile
  third_party/envoy-ratelimit/Makefile
Due: calicoq, anomaly-detection-api

Upgrade es/kb to 8.17.1
  calico/_data/versions.yml
  elasticsearch/Dockerfile
  es-gateway/fv/challenger_test.go
  es-gateway/pkg/middlewares/allowlist.go
  es-gateway/pkg/middlewares/allowlist_test.go
  kibana/docker-image/Dockerfile
  third_party/elasticsearch/Makefile
  third_party/kibana/Makefile
Due: calicoq, anomaly-detection-api

update alertmanager to v0.28.0 (#8583)
  third_party/alertmanager/Makefile
  third_party/alertmanager/patches/0001-Update-google.golang.org-protobuf-to-v1.36.2.patch
  third_party/alertmanager/patches/0002-Patch-go-CVEs.patch
Due: calicoq, anomaly-detection-api

Remove unused config
  felix/dataplane/driver.go
  felix/dataplane/linux/int_dataplane.go
Due: Node: build all architectures, calicoq, anomaly-detection-api

Add tests for waf parser
  go.mod
  ui-apis/pkg/apis/v1/waf.go
  ui-apis/pkg/middleware/waf/parser/parser_test.go
  ui-apis/pkg/middleware/waf/waf.go
  ui-apis/pkg/middleware/waf/waf_ruleset.go
  ui-apis/pkg/middleware/waf/waf_suite_test.go
  ui-apis/pkg/middleware/waf/waf_test.go
  ui-apis/pkg/server/server.go
Due: calicoq, anomaly-detection-api

Fix tests
  ui-apis/pkg/middleware/waf/waf_test.go
Due: calicoq, anomaly-detection-api

Path conditions:
  Node: build all architectures: any of: felix/, confd/, node/
  calicoq: any of: *, calicoq/, libcalico-go/, but not: **/.gitignore, **/README.md, **/LICENSE
  anomaly-detection-api: any of: *, anomaly-detection-api/, crypto/, lma/, but not: **/.gitignore, **/README.md, **/LICENSE
